@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* common classes*/
.nav-common {
    height: 3.125rem;
    border: 1px solid transparent;
    border-radius: 2px;
}

.nav-font1 {
    font-size: 0.875rem;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}


/*  Navbar  */

.navbar {
    height: 3.75rem;
    background-color: #231f20;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    padding: 0 0.1rem;

}

.logo {
    padding: 0 0.5rem;
}

.logo img {

    height: 3rem;
    width: 8rem;
    object-fit: cover;
}

.logo img:hover {
    border: 1px solid #fff
}


.location {
    padding: 0.8rem 0.5rem;
    border-radius: 2px;

}

.location:hover {
    border: 1px solid #fff
}

.location-logo {
    padding-top: 1rem;
    margin-right: 0.2rem;
}


.location-name p:first-child {
    font-weight: 100;
    font-size: 0.8rem;
    color: #cccccc;
}

.location-name p:first-child {
    font-weight: 700;
    font-size: 0.9rem;
}


.search-bar {

    height: 3rem;
    width: 40vw;
    border: 3px solid transparent;

}

.search-bar:hover {
    border: 3px solid #febd69;
}

.search-bar select {
    width: 3rem;
    border: none;
    border-radius: 2px 0 0 2px;
    background-color: #e6e6e6;
    border: 3px solid transparent;
}

.search-input {
    width: 100%;
    border: none;
    padding: 7px 10px 10px 5px;
    font-size: medium;
}

.search-icon {
    width: 3rem;
    background-color: #febd69;
    border: 2px solid transparent;
    border-radius: 0 2px 2px 0;

}

.search-icon i {
    filter: invert(1);
}

.search-icon:focus {
    border: 2px solid #febd69;
}

.flag-language {

    width: 4rem;
    padding: 1rem 0.2rem;

}

.flag-language:hover {
    border: 1px solid #fff;
}

.flag img {
    object-fit: cover;
    height: 1rem;
    width: 1.25rem;
    padding-top: 0.1rem;
}

.language {
    margin-left: 0.2rem;
    font-weight: 600;
    font-size: 0.9rem;
    padding-right: 0.2rem;
}

.account {
    padding: 0.1rem 0.1rem;
}

.account:hover {
    border: 1px solid #fff
}


.returns {
    padding: 0.1rem 0.1rem;
    padding-top: 0.4rem;
}

.returns:hover {
    border: 1px solid #fff;
}

.returns div:first-child {
    font-weight: 300;
    font-size: 0.8rem;

}


.cart {
    padding: 0.1rem 0.1rem;
}
.cart:hover{
    border: 1px solid #fff;

}